/* change the colors in the below section to apply the different scheme to the whole page */
:root{
  --globalcolor:#fff;
  --background-space: #454d54;
  --highlight: #25cdae;
  --textcolor:#e5f1ea;
  --boxbackground: #d75edc;
}

html {
  color: var(--textcolor);
  background-color: var(--background-space);
  font-family: sans-serif;
}

body {
  font-size: 16px;
  min-height: 100vh;
}

 /* Flexbox */

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.headup {
  padding: 20px;
  text-align: center;
 
}

.headup h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--boxbackground);
}

.headup p {
  color:var(--textcolor);
  font-size: 70%;
  margin-bottom: -20px;
}

.snippet {
  border-style:dashed;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  flex: 0 0 270px;
  /*transform: rotate(8deg);*/
  /*box-shadow: 10px 10px 5px #aaaaaa;*/
  margin: 5px;
  margin-top: 50px;
}

.snippet header {
  border-radius: 5px;
  padding: 3px;
  color: var(--boxbackground);
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  border-color: var(--textcolor);
  border-style: solid;
  margin-top: -25px;
  background-color: var(--background-space);
}

.snippet pre {
  background-image: linear-gradient(var(--background-space), var(--boxbackground));
  border-radius: 5px;
  font-size: 80%;
  margin-top: 5px;

}

.snippet p {
  color: var(--boxbackground);
  font-size: 80%;
  margin-top: 10px;
}

/* changes background when user is hovering over */

/*.snippet:hover {
  background-color: var(--textcolor);

}
*/
.snippet pre:active {
  user-select: all;
}
/* glowing when user is hovering over it */
.snippet, header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.snippet:hover, .snippet:hover header {
   box-shadow: inset 0px 0px 8px rgba(232,102,236,1), 0 0 15px rgba(232, 102, 236, 1);
}
footer {
  bottom: 0;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

/*
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
} */
